.contador{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 6px 10px;
}

.contador button{
    border: none;
    background: #2f9e41;
    color: #ffff;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.contador button:hover{
    opacity: .90;
}

.valor{
    min-width: 24px;
    text-align: center;
    font-weight: 600;
}