<section class="catalogo">
    <header class="barradetarefas">
        <h2>Catalogo</h2>
        <button class="btn sopromo" [class.active]="apenasPromo()" (click)="alternarPromo()">
            @if(apenasPromo()){
                Mostrar Todos
            } @else {
                Somente Promoções
            }
        </button>

        <select #categoriaSelect (change)="selecionarCategoria(categoriaSelect.value)">
            <option value="">Todas</option>
            @for (cat of categorias(); track cat) {
                <option [value]="cat">{{ cat }}</option>
            }
        </select>
    </header>
    
    <div class="grid">
        @for (p of prodExibidos(); track p.id){
            @if(!(p.estado === 'esgotado' && p.promo)) {
                <app-card-produto [produto]="p" (add)="onAddProduct($event)" (view)="onViewProduct($event)"></app-card-produto>
            }
        }
        @empty{
            <p class="vazio">Nenhum produto encontrado para o filtro atual</p>
        }
    </div>

</section>